/* Base */
/* ----------------------------------------- */
    @mixin cover($attachment: inherit) {
        background-size: cover;
        background-position: center center;
        background-attachment: $attachment;
    }

    @mixin parent--full($position: absolute) {
        position: $position !important;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    @mixin transition($pp--transition-time: 250ms ) {
        transition: $pp--transition-time ease-in-out all;
    }

    @mixin freeze() {
        overflow: hidden;
        max-width: 100vw;
        max-height: 100vh;
    }
/* ----------------------------------------- Base */

/* Flex */
/* ----------------------------------------- */
    @mixin align--center {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
/* ----------------------------------------- Flex */


/* Hovers */
/* ----------------------------------------- */
    @mixin hover--fadein {
        @include transition;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }    
    
    @mixin hover--fadeout {
        @include transition;
        opacity: 1;
        &:hover {
            opacity: 0;
        }
    }    

/* ----------------------------------------- Hovers */


/* Blocks */
/* ----------------------------------------- */
    @mixin el--background {
        @include parent--full();
        z-index: -3;
    }
    @mixin el--mask($background: rgba(135,135,135,0.59) ) {
        @include parent--full();
        background: $background;
        z-index: -2;
    }
/* ----------------------------------------- Blocks */


/* Layouts */
/* ----------------------------------------- */
    @mixin titleline($color : white, $width : 30%, $height : 1px, $margin : 35px auto 35px ) {
        &:after {
            content: "";
            display: block;
            background-color: $color;
            width: $width;
            height: $height;
            margin: $margin;
        }
    }    
/* ----------------------------------------- Layouts */
