
// Prevent Horizontal scrollbar
body, html {
    max-width: 100vw;
    overflow-x: hidden;
}

/* Defaults */
/* ----------------------------------------- */
    .bg-cover { @include cover(); }
/* ----------------------------------------- Defaults */


/* Lists */
/* ----------------------------------------- */
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        &.sub-menu {
            display: none;
        }
    }
/* ----------------------------------------- Lists */

/* Highlights */
/* ----------------------------------------- */
    h1, h2, h3, h4, h5, h6, p, a, li, span {
        &::selection, &::-moz-selection, &::-webkit-selection {
            background-color: $pp--primary-color;
            color:#fff;
        }
    }
/* ----------------------------------------- Highlights */

/* Forms, inputs, etc */
/* ----------------------------------------- */
    input, textarea, select {
        outline: none !important;
    }
    select {
        option {
            color: black;
        }
    }
/* ----------------------------------------- Forms, inputs, etc */


/* Wordpress Hooks */
/* ----------------------------------------- */
    
    // Responsive container style
    // functions/setup @wrap_embed_with_div()
    .responsive-container {
        position: relative;
        padding-bottom: 50.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 1em;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

/* ----------------------------------------- Wordpress Hooks */


/* ACF Map */
/* ----------------------------------------- */

    .acf-map {
        height: 400px;
        img {
            max-width: inherit !important;
        }
    }

/* ----------------------------------------- ACF Map */

/* Navbars */
/* ----------------------------------------- */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        &--logo {
            max-width: 120px;
        }

        @include media-breakpoint-down(md) {
    
            &--toggler {
                @include icon-hamb-white;
            }
            
            &--container {
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100vh;
                display: flex;
                flex-direction: column;
                background-color: white;
            }
    
            &--navigation {
    
                display: flex;
                height: $pp--menuheight-before;
                width: 100%;
                background-color: #FBFBFB;
    
                div {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 60px;
                }
                &--back span {
                    @include icon-arrow-left;
                }
                
                &--close span {
                    @include icon-close;
                }
    
                &--current {
                    width: 100%;
                }
    
            }
    
            &--menu {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                overflow-y: scroll;                                                    
            }

        } // before expand

        @include media-breakpoint-up(expand) {
            &--menu {
                display: block;
                li {
                    display: inline-block;
                }
                > li.menu-item-has-children {
                    a:hover + ul.sub-menu {
                        display: flex;
                    }
                }
            }
        }

    }    
/* ----------------------------------------- Navbars */


/* Figures */
/* ----------------------------------------- */
    .figure {
        &--cover {         
            @include el--background;           
        }
    }

    figure {
        margin: 0;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

/* ----------------------------------------- Figures */

/* Lazys */
/* ----------------------------------------- */
    .lazy {
        opacity: 0;
        @include transition(1s);
        
        &--background {
            @include parent--full();
            @include cover();
            ~ *:not(.lazy) {
                position: inherit;
                z-index: 2;                
            }
        }
        &[data-was-processed=true] {
            opacity: 1;
        }

        &.pp-bg-mobile {
            + .pp-bg-desktop {
                display: none;
                @include media-breakpoint-up($pp--after-expand) {
                    display: block;
                }
            }
        }
    }    
/* ----------------------------------------- Lazys */

/* Masks */
/* ----------------------------------------- */
    .pp-bg-mask {
        @include parent--full();        
        background: rgba(135,135,135,0.59);
    }    
/* ----------------------------------------- Masks */

/* WordPress WYSIWYG Editor Styles */
/* ----------------------------------------- */
    .hentry {
        > *:first-child {
            margin-top: 0 !important;   
        }
        
        > *:last-child {
            margin-bottom: 0 !important;   
        }

        
        img {
            max-width: 100%;
            height: auto;
        }
        a:not(.btn) {
            color: theme-color("primary");
            &:hover { text-decoration: underline;}
        }
        .entry-content img {
            margin: 0 0 1.5em 0;
        }
        .alignleft, img.alignleft {
            margin-right: 1.5em;
            display: inline;
            float: left;
            }
        .alignright, img.alignright {
            margin-left: 1.5em;
            display: inline;
            float: right;
            }
        .aligncenter, img.aligncenter {
            margin-right: auto;
            margin-left: auto;
            display: block;
            clear: both;
            }
        .alignnone, img.alignnone {
        /* not sure about this one */
        }
        .wp-caption {
            margin-bottom: 1.5em;
            text-align: center;
            padding-top: 5px;
            img {
                border: 0 none;
                padding: 0;
                margin: 0;
            }
            p.wp-caption-text {
                line-height: 1.5;
                font-size: 10px;
                margin: 0;
            }
        }

        .wp-smiley {
            margin: 0 !important;
            max-height: 1em;
        }
        blockquote.left {
            margin-right: 20px;
            text-align: right;
            margin-left: 0;
            width: 33%;
            float: left;
        }
        blockquote.right {
            margin-left: 20px;
            text-align: left;
            margin-right: 0;
            width: 33%;
            float: right;
        }
    }
/* ----------------------------------------- WordPress WYSIWYG Editor Styles */

/* Headers */
/* ----------------------------------------- */
body {
    &.nav {
        &--fixed {
            margin-top: $pp--menuheight-after;
            header.header {                    
                transition: 350ms ease-in-out;
                position: fixed;
                top: 0;
                z-index: 100;
                width: 100%;
                display: flex;
                align-items: flex-start;        
                .navbar {
                    min-height: $pp--menuheight-after;
                }
            }                
        }
        @include media-breakpoint-down(expand) {
            margin-top: $pp--menuheight-before;
            header.header {
                min-height: $pp--menuheight-before;
            }
            &--open header.header {
                height: 100vh;
            }
            &--down header.header {
                z-index: 5;
            }
            &--up header.header {
                transform: translateY(-100%);
            }
        }
    }
}
/* ----------------------------------------- Headers */


/* Menus */
/* ----------------------------------------- */

    // header.header {
    //     transition: .6s ease all;              
    //     position: absolute;
    //     width: 100%;
    //     height: 92px;
    //     &.nav {
    //         &--up {
    //             transform: translateY(-100%);
    //             position: fixed;
    //         }
    //         &--down {
    //             transform: translateY(0);
    //             position: fixed;
    //             z-index: 1;
    //         }
    //     }
    //     + * {
    //         margin-top: 92px;
    //     }
    // }    
/* ----------------------------------------- Menus */
