@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( #{ nth( $spriteVals, 6 ) } );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
$spritePath: '../images/sprite';
$spriteURL: $spritePath + '.png';
$spritex2URL: $spritePath + '@2.png';
$bgiSizeW: 374px;
$bgiSizeH: 164px;
$arrow-left: 34px 35px $spriteURL -79px -93px $spritex2URL;
$close: 20.95px 20.95px $spriteURL -24px -98px $spritex2URL;
$hamb-gray: 23px 15px $spriteURL -129px -35px $spritex2URL;
$hamb-white: 23px 15px $spriteURL -76px -35px $spritex2URL;
$hamb-black: 23px 15px $spriteURL -23px -35px $spritex2URL;
$spriteList: $arrow-left arrow-left, $close close, $hamb-gray hamb-gray, $hamb-white hamb-white, $hamb-black hamb-black;
@each $icon in $spriteList {
	$spriteName: nth( $icon, 2 );
	$spriteClass: nth( $icon, 1 );
	.icon-#{$spriteName} {
		@include cssSprite( $spriteClass );
	}
}
