/* Variables */
/* ----------------------------------------- */
$pp--before-expand: md;
$pp--after-expand: expand;
$pp--transition-time: 250ms;    
$pp--menuheight-before : 92px;
$pp--menuheight-after : 80px;
$pp--primary-color: black; 
$pp--gutter: 30px; 
/* ----------------------------------------- Variables */
