@import "../bootstrap/functions";
@import "../bootstrap/variables";

body.login {
  background-color: theme-color('primary');
  
  #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;  
  }
  
  #wp-submit {
      background-color: theme-color('primary');
      border: 1px solid darken(theme-color('primary'), 5%) !important;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      transition: 250ms ease all;

    &:hover {
      background-color: darken(theme-color('primary'), 10%) !important;
    }
  }

}
