

/* Types */
/* ----------------------------------------- */
    
/* ----------------------------------------- Types */


/* Header */
/* ----------------------------------------- */
    .header {
        background-color: black;

        .navbar--searchicon { display: none !important; }
        .navbar--navigation--back { display: none !important; } // For menus withtout dropdown
    }
/* ----------------------------------------- Header */

